<section class="home-slider js-fullheight owl-carousel">
    <div class="slider-item js-fullheight" style="background-image:url(images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-10 text-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        Descubra o lugar</h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Encontre ótimos lugares para ficar, comer, fazer compras ou visitar com especialistas locais</p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image:url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-10 text-center ftco-animate"
                    data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Explorar e viajar</h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Encontre ótimos lugares para ficar, comer, fazer compras ou visitar com especialistas locais</p>
                </div>
            </div>
        </div>
    </div>
</section>