<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Parágrafo</h3>
    <p>O conforto possui formas. O amor cores. Uma saia é feita para se cruzar as pernas e uma manga para se cruzar os
        braços.</p>
</div>