<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
    <h1 id="colorlib-logo"><a href="/">vinicius<span>.</span></a></h1>
    <nav id="colorlib-main-menu" role="navigation">
        <ul>
            <li
            <% if(title == 'Index' || title == 'Cadastro'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/">Home</a></li>
            <li
            <% if(title == 'Fotografia'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/fotografia">Fotografia</a></li>
            <li
            <% if(title == 'Viagem'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/viagem">Viagem</a></li>
            <li
            <% if(title == 'Moda'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/moda">Moda</a></li>
            <li
            <% if(title == 'Sobre'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/sobre">Sobre</a></li>
            <li
            <% if(title == 'Contato'){ %> class="colorlib-active"
                    <% } %>
            ><a href="/contato">Contato</a></li>
        </ul>
    </nav>

    <div class="colorlib-footer">
        <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is
            made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                          target="_blank">Colorlib</a>
        <ul>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
        </ul>
    </div>
</aside> <!-- END COLORLIB-ASIDE -->