<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Parágrafo</h3>
    <p>A verdadeira viagem de descobrimento não consiste em procurar novas paisagens, e sim em ter novos olhos.</p>
</div>