<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <%- include('../partials/sidebar',{ title:title }); %>
    <div id="colorlib-main">
        <div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(images/programador.jpg);"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="js-fullheight d-flex justify-content-center align-items-center">
                <div class="col-md-8 text text-center">
                    <div class="img mb-4" style="background-image: url(images/programador.jpg);"></div>
                    <div class="desc">
                        <h2 class="subheading">Olá, eu sou</h2>
                        <h1 class="mb-4">Vinicius Ferreira</h1>
                        <p class="mb-4">Sou um simples programador que vive longe de tudo e de todos, imerso no
                            mundo vitual em busca dos conhecimentos desconhecidos até então por mim.<br>Quanto
                            mais
                            busco, mais encontro. E quanto mais encontro, mais facinado fico
                            por esse mundo que não para de evoluir. Me perco muitas vezes, mas ainda sim sempre
                            dou
                            um jeito de agarrar com minhas próprias mãos aquilo que tantas vezes de mim escapa.
                        </p>
                        <ul class="ftco-social mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<%- include('../partials/scripts'); %>
</body>
</html>